#textdomain wesnoth-A_Simple_Campaign

# The following define ... enddef is a macro. Its contents get inserted at that point where it is called using {STORY}.
# It needs to be placed=defined=read by the wesnoth engine before (above where) it is called.
# Macros are different from functions that you may have seen in other programming languages.
# The most important difference for you is that functions can be defined below the position where they are used (in the same file).
# Doing this with a macro will just cause it not to work. Starting with the 1.9 branch of wesnoth you get concrete preprocessor error messages about which macros/files you are calling could not be found.
# This thing also depends on the "inclusion order" - to find out more about it read the preprocessor reference in the wml reference.
#define STORY
	[story]
		[part]
			story= _ "this is where the story goes"
		[/part]
		[part]    
			background=maps/wesnoth.png
			show_title=yes
			{OLD_REST 617 189}
			{NEW_JOURNEY 592 205}
			{NEW_BATTLE 575 209}
		[/part]
	[/story]
#enddef


[scenario]
	id=01_Template # looked for by the engine (corresponds to first_scenario= in _main.cfg)
	name=_"Template" # displayed scenario name
	# Insert the content of the file pointed to at this position.
	map_data="{~add-ons/A_Simple_Campaign/maps/01_Template.map}"
	snapshot=no

	# Time is over after turn 40.
	turns=40

	{SCENARIO_MUSIC breaking_the_chains.ogg}

	# Insert the content from the macro above at this position.
	{STORY}

	# The player wins if all enemy leaders are dead.
	victory_when_enemies_defeated=yes


	##|| Flow Of Time ||##
	# automatically cycled through by the engine
	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}



	##|| Determine Side Conditions ||##
	##|| Player Side
	[side]
		##:: Side Info
		side=1
		controller=human
		team_name=1 # used to determine which side is enemy or allied
		# wmllint: local spelling foo
		user_team_name= _ "foo" # visible to the user

		##:: Leader Info
		# This information is used to create the unit that becomes side 1's leader.
		type=Dwarvish Fighter
		id=His Awesomeness
		name=_"His Awesomeness"
		gender=male
		canrecruit=yes
		unrenamable=true

		##:: Recruit List
		recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Ulfserker,Dwarvish Guardsman

		##:: Gold and Income
		{GOLD 100 75 50}
		{INCOME 10 5 3}
	[/side]

	##|| Enemy
	[side]
		##:: Side Info
		side=2
		controller=ai
		team_name=2
		user_team_name= _ "bar"

		##:: Leader Info
		type=Elvish Fighter
		id=Lord Awesomeness
		name=_"Lord Awesomeness"
		gender=male
		canrecruit=yes
		unrenamable=true

		##:: Recruit List
		recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman

		##:: Gold and Income
		{GOLD 100 75 50}
		{INCOME 3 5 10}
	[/side]



	##|| Events ||##

	##|| Starting Stuff
	[event]
		name=start
		[message]
			speaker=narrator
			image=wesnoth-icon.png
			message=_"Welcome, future UMC developer. This is a stub of a campaign, intended to make life easier in creating a campaign, since the by far most difficult part is the very start. This campaign contains about the bare minimum that's needed for a campaign and some helpful comments. Note that by creating a campaign which targets wesnoth's development version you may run into engine bugs which you mistakenly think of being caused by your wml code."
		[/message]
		[message]
			speaker=narrator
			image=wesnoth-icon.png
			# wmllint: local spellings wiki http wiki.wesnoth.org BuildingCampaignsTutorial FirstCampaign 
			message=_"There is a site in the wesnoth wiki related to this add-on, which also tells you where to look for this add-ons's files so you can actually read this message in the code instead of reading it on the screen: http://wiki.wesnoth.org/BuildingCampaignsTutorial/FirstCampaign"
		[/message]
		[chat]
			message=_"site related to this add-on: http://wiki.wesnoth.org/BuildingCampaignsTutorial/FirstCampaign"
		[/chat]
		[message]
			speaker=narrator
			image=wesnoth-icon.png
			# wmllint: local spellings userdata EditingWesnoth
			message=_"The files of this add-on, describing what happens in it, are in your userdata directory, explanation where this directory is here: http://wiki.wesnoth.org/EditingWesnoth"
		[/message]
		[chat]
			message=_"Where are the files of this add-on ? read here: http://wiki.wesnoth.org/EditingWesnoth"
		[/chat]

		##:: Objectives
		[objectives]
			side=1
			summary=_"final objectives:"
			[objective]
				description= _ "Defeat the enemy leader"
				condition=win
			[/objective]
			[objective]
				description= _ "Death of His Awesomenes"
				condition=lose
			[/objective]
			{TURNS_RUN_OUT}
			[gold_carryover]
				bonus=yes
				carryover_percentage=40
			[/gold_carryover]
		[/objectives]
	[/event]

	[event]
		name=turn 2
		[unit]
			type=Custom Unit # It's the [unit_type]id=
			side=1
			x=10
			y=10
			id=created_unit
		[/unit]
		[message]
			id=created_unit
			message=_"Hey, I'm a custom unit of this campaign and I've just appeared."
		[/message]
	[/event]

	[event]
		name=moveto
		[filter]
			side=1
		[/filter]
		[message]
			speaker=unit
			message=_"I'm a unit on side 1 and have just moved to the hex with coordinates $x1,$y1."
		[/message]

		[message]
			speaker=narrator
			image=wesnoth-icon.png
			message=_"Let's play some custom sound..."
		[/message]
		[sound]
			name=build.wav
		[/sound]
	[/event]
[/scenario]

#undef STORY